<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-share"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Lista de contatos para Teste</p>
            <p class="box-title-description">Insira a lista de e-mails para ser usada em seus testes de envio.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>