<div style="max-width:1200px; margin:2em auto">

  <lib-page-title title="Página vazia" sectionTitle="Essa página está vazia mesmo, acredite"></lib-page-title>

  <lib-tab-link [Tabs]="TabsData"></lib-tab-link>

  <lib-dynamic-tabs>
    <lib-dynamic-tab-item>
      <lib-dynamic-tab-label>Dicas</lib-dynamic-tab-label>
      <lib-dynamic-tab-body>
        <lib-tip
            image="https://panel.dinamize.com/img/tutorial/pt_br/XX.09.jpg"
            title="Sua configuração, passo a passo."
            description="Baixe o tutorial com instruções detalhadas para a padronização de conteúdo."
            linkDownload="https://www.dinamize.com.br/doc/pt_br/01.09.pdf"
            [showTip]="showTip"
            (closeTip)="closeTipEvent()"
            ></lib-tip>
      </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
      <lib-dynamic-tab-label>Domínios</lib-dynamic-tab-label>
      <lib-dynamic-tab-body>

        <lib-how-configure-domains></lib-how-configure-domains>

      </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
  </lib-dynamic-tabs>

  <lib-tab-content>
    <lib-tab-content-item>
      <lib-tab-content-label>Oláá</lib-tab-content-label>
      <lib-tab-content-body>
        Muuundoo
      </lib-tab-content-body>
    </lib-tab-content-item>
    <lib-tab-content-item>
      <lib-tab-content-label>Hellooo</lib-tab-content-label>
      <lib-tab-content-body>
        Wooorld
      </lib-tab-content-body>
    </lib-tab-content-item>
    <lib-tab-content-item>
      <lib-tab-content-label>Oláá</lib-tab-content-label>
      <lib-tab-content-body>
        Muuundoo
      </lib-tab-content-body>
    </lib-tab-content-item>
  </lib-tab-content>

</div>


  <!-- <lib-dropdown ButtonLabel='Selecione' ListWidth='340'>
    <lib-dropdown-item>
      <a href="" class="btn ico-left-side">
        Editar
        <span class="ico ico-edit"></span>
      </a>
    </lib-dropdown-item>
    <lib-dropdown-item>
      <a href="" class="btn ico-left-side">
        Script de pop-ups e captação de formulários
        <span class="ico ico-edit"></span>
      </a>
    </lib-dropdown-item>
    <lib-dropdown-item>
      <a href="" class="btn ico-left-side">
        Configurar lead tracking
        <span class="ico ico-edit"></span>
      </a>
    </lib-dropdown-item>
  </lib-dropdown> -->
