<!-- <lib-how-configure-domains></lib-how-configure-domains> -->
<!-- <div style="max-width: 1120px;margin:0 auto;">
  <lib-tip
    image="https://panel.dinamize.com/img/tutorial/pt_br/XX.09.jpg"
    title="Sua configuração, passo a passo."
    description="Baixe o tutorial com instruções detalhadas para a padronização de conteúdo."
    linkDownload="https://www.dinamize.com.br/doc/pt_br/01.09.pdf"
    [showTip]="showTip"
    (closeTip)="closeTipEvent()"
    ></lib-tip>
</div> -->

<!-- <lib-page-title title="Página vazia" sectionTitle="Essa página está vazia mesmo, acredite"></lib-page-title> -->

<!-- <lib-dynamic-tabs>
  <lib-dynamic-tab-item>
      <lib-dynamic-tab-label>Aba 1</lib-dynamic-tab-label>
      <lib-dynamic-tab-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque nibh id malesuada dignissim. Curabitur accumsan pellentesque tincidunt. Morbi gravida ligula vitae diam luctus tincidunt. Sed quis lectus vitae magna lacinia pulvinar. Quisque tempus tempus erat, ut cursus mauris luctus non.</lib-dynamic-tab-body>
  </lib-dynamic-tab-item>
  <lib-dynamic-tab-item>
      <lib-dynamic-tab-label>Aba 2</lib-dynamic-tab-label>
      <lib-dynamic-tab-body>Quisque diam quam, sollicitudin ut vehicula non, fringilla vel nisl. Nulla elementum lorem sed aliquam maximus. Ut pellentesque, enim ac tristique feugiat, tellus est feugiat quam, ac consectetur leo lacus vitae elit. Praesent porttitor cursus finibus. Donec non condimentum ipsum. Vivamus quis augue augue.</lib-dynamic-tab-body>
  </lib-dynamic-tab-item>
</lib-dynamic-tabs> -->
