<!-- <lib-how-configure-domains></lib-how-configure-domains> -->
<!-- <div style="max-width: 1120px;margin:0 auto;">
  <lib-tip
    image="https://panel.dinamize.com/img/tutorial/pt_br/XX.09.jpg"
    title="Sua configuração, passo a passo."
    description="Baixe o tutorial com instruções detalhadas para a padronização de conteúdo."
    linkDownload="https://www.dinamize.com.br/doc/pt_br/01.09.pdf"
    [showTip]="showTip"
    (closeTip)="closeTipEvent()"
    ></lib-tip>
</div> -->

<!-- <lib-page-title title="Página vazia" sectionTitle="Essa página está vazia mesmo, acredite"></lib-page-title> -->
