<div class="acordeon-header">
  <div class="acordeon-label" (click)="selectTab(item)" [class.active]="activeAccordion === item" *ngFor="let item of accordionItems$ | async">
    <ng-container *ngIf="item.labelComponent">
      <ng-container *ngTemplateOutlet="item.labelComponent.labelContent"></ng-container>
    </ng-container>
    <ng-container *ngIf="!item.labelComponent">
      {{ item.label }}
    </ng-container>
  </div>
</div>
<div class="acordeon-body">
  <ng-container *ngIf="activeAccordion && activeAccordion.bodyComponent">
    <ng-container *ngTemplateOutlet="activeAccordion.bodyComponent.bodyContent"></ng-container>
  </ng-container>
</div>
