<dina-tip 
    image="https://panel.ronaldo.hoch.dev.com/img/tutorial/pt_br/XX.09.jpg"
    title="Sua configuração, passo a passo."
    description="Baixe o tutorial com instruções detalhadas para a padronização de conteúdo."
    linkDownload="https://www.dinamize.com.br/doc/pt_br/01.09.pdf"
    [showTip]="showTip"
    (closeTip)="closeTip()"
></dina-tip>

<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-config-view"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Link para visualização externa</p>
            <p class="box-title-description">Mensagem para leitura alternativa da mensagem.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Voltar à configuração original</button>
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>

<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-config-blocked"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Link de descadastro</p>
            <p class="box-title-description">Mensagem para descadastro - ou “opt-out”.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Voltar à configuração original</button>
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>