<lib-dynamic-tabs (selectedTabEvent)="null">
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>LISTAGEM</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-config-forms-listing></dinamize-emkt-config-forms-listing>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>CAPTAÇÃO DE FORMULÁRIOS</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-config-forms-forms-capture></dinamize-emkt-config-forms-forms-capture>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>CAPTCHA</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-config-forms-captcha></dinamize-emkt-config-forms-captcha>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
</lib-dynamic-tabs>
