<dina-tabs (selectedTabEvent)="null">
    <dina-tab-item>
        <dina-tab-label>LISTAGEM</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-config-forms-listing></dinamize-emkt-config-forms-listing>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>CAPTAÇÃO DE FORMULÁRIOS</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-config-forms-forms-capture></dinamize-emkt-config-forms-forms-capture>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>CAPTCHA</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-config-forms-captcha></dinamize-emkt-config-forms-captcha>
        </dina-tab-body>
    </dina-tab-item>
</dina-tabs>