<!-- <dina-tabs (selectedTabEvent)="null">
    <dina-tab-item>
        <dina-tab-label>SITES</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-integrations-integration-sites></dinamize-emkt-integrations-integration-sites>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>DOUBLE OPT-IN</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-integrations-double-opt-in></dinamize-emkt-integrations-double-opt-in>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>ALERTAS POR E-MAIL</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-integrations-email-alerts></dinamize-emkt-integrations-email-alerts>
        </dina-tab-body>
    </dina-tab-item>
</dina-tabs> -->
