<lib-dynamic-tabs (selectedTabEvent)="null">
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>SITES</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-integrations-integration-sites></dinamize-emkt-integrations-integration-sites>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>DOUBLE OPT-IN</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-integrations-double-opt-in></dinamize-emkt-integrations-double-opt-in>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>ALERTAS POR E-MAIL</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-integrations-email-alerts></dinamize-emkt-integrations-email-alerts>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
</lib-dynamic-tabs>
