<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-config-sender"></div>
        </div>
        <div class="box-description">
            <p class="box-title">E-mail do remetente</p>
            <p class="box-title-description">Identifica quem está enviando sua mensagem</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>

<div class="box-icon grey-box">
    <div class="box-header no-icon">
        <div class="box-icon-icon">
            <div class="ico50 ico50-config-replyto"></div>
        </div>
        <div class="box-description">
            <p class="box-title">E-mail de resposta</p>
            <p class="box-title-description">O e-mail pelo qual você recebe as respostas.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>