
/* CSS RESET */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }

ol,
ul { list-style:none }
caption,
th { text-align:left }
h1,
h2,
h3,
h4,
h5,
h6 { font-size:100%; font-weight:bold }
q:before,
q:after { content:'' }
fieldset,
img,
abbr,
acronym { border:0 }
body { outline:none; }
a { text-decoration:none; }
textarea,
input { outline:none; } /* we don't want outlines in chrome/safari */
textarea {resize: vertical;}


a,a:hover,a:focus,a:active,a:visited{
    color:inherit;
    text-decoration:none;
}

ul{margin:0;padding:0;}

.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{ clear: both; }

/*classe de controle do loading*/
.finishLoading{
    width: 2px;
}