<p class="content-text">
    Escolha um prefixo único para personalizar suas Landing Pages criadas em nossa plataforma. Por exemplo:
    conteudo.meusite.com, materiais.meusite.com etc.
</p>

<div class="content-btn grid-headerbar right-content">
    <button class="btn btn-simple-blue ico-left-side">
        Adicionar
        <span class="ico ico-plus"></span>
    </button>
</div>
<table class="dinux-Grid-Table" hasfilter="false">
    <thead>
        <tr>
            <th valuename="domain">
                <div>Domínio</div>
            </th>
            <th valuename="entry_landing_page">
                <div>Prefixo</div>
            </th>
        </tr>
    </thead>
    <tbody style="visibility: visible;">
        <tr class="dataRow">
            <td colspan="2">
                <div>Não existem itens para serem listados</div>
            </td>
        </tr>
    </tbody>
</table>
