<div class="gray-box">
  <ul>
      <li class="icon">
          <div class="ico62 ico62-lamp"></div>
      </li>
      <li class="title">
          <p>Sua configuração, passo a passo.</p>
      </li>
      <li class="divisor"></li>
      <li class="text">
          <p>Acesse o tutorial passo a passo para configurar o SPF, CNAME e DKIM de seu domínio.</p>
      </li>
      <li class="domain-list">
          <select class="domain-select">
              <option>Escolha um domínio</option>
              <option>lojalegalteste.com.br</option>
          </select>
          <button class="btn btn-secondary ico-right-side full-width text-left" (click)="openDomainModal()">
              Abrir o passo a passo
              <span class="ico ico-arrow-h-white-fade"></span>
          </button>
      </li>
  </ul>
</div>
