.gray-box{
  margin-top:30px;
  .domain-list{
      padding:0 0 0 20px;
      width:250px;
  }
}
.domain-select{
  border: 2px solid #bec5cb;
  box-shadow: 0 0 0 4px transparent;
  font-size: 13px;
  color: #4a5766;
  background-color: #FFFFFF;
  height:37px;
  width:100%;
  margin-bottom:10px;
}
