<div class="box-icon no-padding">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-share"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Interações com redes sociais</p>
            <p class="box-title-description">Marque abaixo as redes sociais que deseja integrar com o envio da campanha.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-left">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>