<dina-tabs (selectedTabEvent)="changeTabEvent($event)">
    <dina-tab-item>
        <dina-tab-label>SPF/CNAME</dina-tab-label>
        <dina-tab-body>
            <dinamize-nx-workspace-spf-cname></dinamize-nx-workspace-spf-cname>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>DKIM</dina-tab-label>
        <dina-tab-body>
            <dinamize-nx-workspace-dkim></dinamize-nx-workspace-dkim>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>LANDING PAGE</dina-tab-label>
        <dina-tab-body>
            <dinamize-nx-workspace-landing-page></dinamize-nx-workspace-landing-page>
        </dina-tab-body>
    </dina-tab-item>
</dina-tabs>