<lib-dynamic-tabs (selectedTabEvent)="changeTabEvent($event)">
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>SPF/CNAME</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-nx-workspace-spf-cname></dinamize-nx-workspace-spf-cname>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>DKIM</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-nx-workspace-dkim></dinamize-nx-workspace-dkim>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>LANDING PAGE</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-nx-workspace-landing-page></dinamize-nx-workspace-landing-page>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
</lib-dynamic-tabs>
