<h2 class="blue-title">
    Formulário
    <lib-tip text="Preencheram algum dos formulários do cadastro, foram inseridas manualmente ou através de importação de contatos."></lib-tip>
</h2>
<p class="content-text"></p>

<div class="simple-gray-box">

    <ul>
        <li>
            <label>Buscar:</label>
            <input class="field-text"/>
        </li>
        <li><hr class="hr-dotted m-sm"/></li>
        <li>
            <label>Tipo:</label>
            <select class="select-combobox">
                <option>Selecione</option>
            </select>
        </li>
        <li><hr class="hr-dotted m-sm"/></li>
        <li>
            <label>Lista de contatos:</label>
            <select class="select-combobox">
                <option>Selecione</option>
            </select>
        </li>
        <li class="text-right">
            <button class="btn btn-secondary">Buscar</button>
        </li>
    </ul>
</div>

<div class="content-btn grid-headerbar text-right">
    <button class="btn btn-simple-blue ico-left-side">
        Adicionar
        <span class="ico ico-add"></span>
    </button>
</div>
<table class="dinux-Grid-Table" hasfilter="false">
    <thead>
        <tr>
            <th valuename="domain">
                Nome
                <!-- <div class="table-flex"> </div> -->
            </th>
            <th valuename="spf" style="width: 60px;">
                <div class="table-flex">
                    <span>Tipo</span>
                    <!-- <lib-tip text="O SPF (Sender Policy Framework) é uma tecnologia que visa combater o envio não autorizado de mensagens em nome de um determinado domínio, especificando quais são os hosts / IPs autorizados realizar envios em nome de seu domínio. Em outras palavras, é uma permissão para que possamos enviar e-mails por você"></lib-tip> -->
                </div>
            </th>
            <th valuename="entry_image" style="width: 145px;">
                <div class="table-flex">
                    Conversões
                    <!-- <lib-tip text=""></lib-tip> -->
                </div>
            </th>
            <th valuename="entry_link" style="width: 130px;">
                <div class="table-flex">
                    Data da inclusão
                    <!-- <lib-tip text=""></lib-tip> -->
                </div>
            </th>
            <th valuename="{action}" style="width: 50px;">
                <div>Ação</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">
                <p style="text-align: center;">
                    Não existem itens para serem listados
                </p>
            </td>
        </tr>
    </tbody>
</table>
<div class="dinux-Grid-Navigation">
    <div class="">
        Visualizando

        <select class="itens-per-page">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>

        itens na <strong>página 1</strong>
    </div>
    <div class="">
        <div class="table-buttons">
            <button class="btn ico-left-side"><span class="ico ico-table-arrow-left"></span></button>
            <button class="btn ico-right-side"><span class="ico ico-table-arrow-right"></span></button>
        </div>
    </div>
</div>
