<lib-dynamic-tabs (selectedTabEvent)="changeTabEvent($event)">
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>LINK PADRÃO</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-content-default-link></dinamize-emkt-content-default-link>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>MÍDIAS SOCIAIS</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-content-social-media></dinamize-emkt-content-social-media>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>TEXTO PADRÃO</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-content-default-texts></dinamize-emkt-content-default-texts>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>DADOS PESSOAIS</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-content-personal-data></dinamize-emkt-content-personal-data>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
</lib-dynamic-tabs>
