<dina-tabs (selectedTabEvent)="changeTabEvent($event)">
    <dina-tab-item>
        <dina-tab-label>LINK PADRÃO</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-content-default-link></dinamize-emkt-content-default-link>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>MÍDIAS SOCIAIS</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-content-social-media></dinamize-emkt-content-social-media>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>TEXTO PADRÃO</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-content-default-texts></dinamize-emkt-content-default-texts>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>DADOS PESSOAIS</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-content-personal-data></dinamize-emkt-content-personal-data>
        </dina-tab-body>
    </dina-tab-item>
</dina-tabs>