<h2 class="blue-title">
    Configurações de envio
</h2>
<p class="content-text">Defina as configurações dos envios de double opt-in.</p>

<div class="form-c">
    <ul class="form-default left-align-adjust large-input-adjust">
        <li>
            <label class="form-label">
                <span>E-mail do remetente</span>
                <span>Identifica quem está enviando sua mensagem</span>
            </label>
            <div class="form-value">
                <div class="field-obrigatory"></div>
                <input class="input-relative" />
            </div>
        </li>
        
        <li>
            <label class="form-label">
                <span>Nome do remetente</span>
                <span>Identifica quem está enviando sua mensagem</span>
            </label>
            <div class="form-value">
                <div class="field-obrigatory"></div>
                <input class="input-relative" />
            </div>
        </li>
        
        <li>
            <label class="form-label">
                <span>E-mail de resposta</span>
                <span>O e-mail pelo qual você recebe as respostas</span>
            </label>
            <div class="form-value">
                <div class="field-obrigatory"></div>
                <input class="input-relative" />
            </div>
        </li>
        
        <li>
            <label class="form-label">
                <span>Assunto</span>
                <span>Assunto da mensagem</span>
            </label>
            <div class="form-value">
                <div class="field-obrigatory"></div>
                <input class="input-relative" />
            </div>
        </li>
        
        <li>
            <label class="form-label">
                <span>Mensagem</span>
                <span>Corpo</span>
            </label>
        </li>
    </ul>
    <div>
        <button class="btn">Voltar à configuração inicial</button>
        <button class="btn">Salvar</button>
    </div>
</div>