<div>Send works</div>

<!-- <dina-tabs (selectedTabEvent)="null">
    <dina-tab-item>
        <dina-tab-label>LISTA PARA TESTES</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-send-list-test></dinamize-emkt-send-list-test>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>E-MAIL PADRÃO</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-send-default-email></dinamize-emkt-send-default-email>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>OPÇÕES DE OPT-OUT</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-send-options-opt-out></dinamize-emkt-send-options-opt-out>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>REDES SOCIAIS</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-send-social-medias></dinamize-emkt-send-social-medias>
        </dina-tab-body>
    </dina-tab-item>
    <dina-tab-item>
        <dina-tab-label>APROVAÇÃO DE ENVIO</dina-tab-label>
        <dina-tab-body>
            <dinamize-emkt-send-mail-sending-approval></dinamize-emkt-send-mail-sending-approval>
        </dina-tab-body>
    </dina-tab-item>
</dina-tabs> -->
