<lib-dynamic-tabs (selectedTabEvent)="null">
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>LISTA PARA TESTES</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-send-list-test></dinamize-emkt-send-list-test>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>E-MAIL PADRÃO</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-send-default-email></dinamize-emkt-send-default-email>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>OPÇÕES DE OPT-OUT</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-send-options-opt-out></dinamize-emkt-send-options-opt-out>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>REDES SOCIAIS</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-send-social-medias></dinamize-emkt-send-social-medias>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
    <lib-dynamic-tab-item>
        <lib-dynamic-tab-label>APROVAÇÃO DE ENVIO</lib-dynamic-tab-label>
        <lib-dynamic-tab-body>
            <dinamize-emkt-send-mail-sending-approval></dinamize-emkt-send-mail-sending-approval>
        </lib-dynamic-tab-body>
    </lib-dynamic-tab-item>
</lib-dynamic-tabs>
