<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-share"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Seu endereço</p>
            <p class="box-title-description">Informe o seu endereço para que seja exibido ao final das mensagens enviadas.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>