<h2 class="blue-title">
    Sites
</h2>
<p class="content-text">Valide aqui a propriedade de seus domínios. Essa validação irá disponibilizar script para
    inclusão em seu site.</p>

<div class="content-btn grid-headerbar text-right">
    <button class="btn btn-simple-blue ico-left-side">
        Adicionar
        <span class="ico ico-add"></span>
    </button>
</div>
<table class="dinux-Grid-Table" hasfilter="false">
    <thead>
        <tr>
            <th valuename="domain">
                Sites
                <!-- <div class="table-flex"> </div> -->
            </th>
            <th valuename="{action}" style="width: 150px;">
                <div>Ação</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    test2.src.com
                </p>
            </td>
            <td>
                <!-- <dina-dropdown ButtonLabel='Selecione' ListWidth='340'>
                    <dina-dropdown-item>
                        <a href="" class="btn ico-left-side">
                            Editar
                            <span class="ico ico-edit"></span>
                        </a>
                    </dina-dropdown-item>
                    <dina-dropdown-item>
                        <a href="" class="btn ico-left-side">
                            Script de pop-ups e captação de formulários
                            <span class="ico ico-edit"></span>
                        </a>
                    </dina-dropdown-item>
                    <dina-dropdown-item>
                        <a href="" class="btn ico-left-side">
                            Configurar lead tracking
                            <span class="ico ico-edit"></span>
                        </a>
                    </dina-dropdown-item>
                </dina-dropdown>-->
            </td>
        </tr>
    </tbody>
</table>

<!-- <div class="dinux-Grid-Navigation">
    <div class="">
        Visualizando

        <select class="itens-per-page">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>

        itens na <strong>página 1</strong>
    </div>
    <div class="">
        <div class="table-buttons">
            <button class="btn ico-left-side"><span class="ico ico-table-arrow-left"></span></button>
            <button class="btn ico-right-side"><span class="ico ico-table-arrow-right"></span></button>
        </div>
    </div>
</div> -->
