<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-share"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Compartilhamento de mídias sociais</p>
            <p class="box-title-description">Inclua ícones das redes sociais em que deseja disponibilizar o compartilhamento de suas mensagens.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>

<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-share"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Siga-nos nas mídias sociais</p>
            <p class="box-title-description">Inclua ícones das redes sociais em que deseja disponibilizar o acesso a sua página na rede.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>

<div class="box-icon grey-box">
    <div class="box-header">
        <div class="box-icon-icon">
            <div class="ico50 ico50-share"></div>
        </div>
        <div class="box-description">
            <p class="box-title">Plugins sociais do Facebook</p>
            <p class="box-title-description">Inclua um endereço de fanpage padrão para os plugins sociais das Landing Pages.</p>
        </div>
    </div>
    <div class="box-body">
        <div class="box-body-buttons buttons-right">
            <button class="btn">Salvar</button>
        </div>
    </div>
</div>