<div class="icon-set">

  <div class="icon-wrapper infoPasswordMeter clearfix">
      <p>Medidor de senha</p>
      <div [class.ico-opacity]="withOpacity" class="ico low"></div>
      <div [class.ico-opacity]="withOpacity" class="ico soft"></div>
      <div [class.ico-opacity]="withOpacity" class="ico high"></div>
  </div>

  <div class="icon-wrapper">
      <p>Icones referentes à classe icoSm</p>
      <div class="icon-container">
          <div class="icoSm" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of icoSm">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe icoPluginSocialFacebook</p>
      <div class="icon-container">
          <div class="icoPluginSocialFacebook" [ngClass]="icon"  [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of icoPluginSocialFacebook">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico22</p>
      <div class="icon-container">
          <div class="ico22" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico22">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico23</p>
      <div class="icon-container">
          <div class="ui-icon" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico23">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico24</p>
      <div class="icon-container">
          <div class="ico24" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico24">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico26</p>
      <div class="icon-container">
          <div class="ico26" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico26">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico32</p>
      <div class="icon-container">
          <div class="ico32" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico32">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico36</p>
      <div class="icon-container">
          <div class="ico36" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico36">
          </div>
      </div>
  </div>

  <div class="icon-wrapper">
      <p>Icones referentes à classe ico40</p>
      <div class="icon-container">
          <div class="ico40" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico40">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico50</p>
      <div class="icon-container">
          <div class="ico50" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico50">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico55</p>
      <div class="icon-container">
          <div class="ico55" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico55">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico60</p>
      <div class="icon-container">
          <div class="ico60" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico60">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico62</p>
      <div class="icon-container">
          <div class="ico62" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico62">
          </div>
      </div>
  </div>


  <div class="icon-wrapper">
      <p>Icones referentes à classe ico80</p>
      <div class="icon-container">
          <div class="ico80" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico80">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico90</p>
      <div class="icon-container">
          <div class="ico90" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico90">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico100</p>
      <div class="icon-container">
          <div class="ico100" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico100">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico110</p>
      <div class="icon-container">
          <div class="ico110" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico110">
          </div>
      </div>
  </div>
  <div class="icon-wrapper">
      <p>Icones referentes à classe ico150</p>
      <div class="icon-container">
          <div class="ico150" [ngClass]="icon" [attr.title]="icon"
              [class.ico-opacity]="withOpacity" *ngFor="let icon of ico150">
          </div>
      </div>
  </div>
</div>
